In [1]:
import numpy as np 
import pandas as pd

In [2]:
netflix=pd.read_csv('Dataset\netflix_titles.csv')

In [3]:
netflix.head(10)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
5,s6,TV Show,Midnight Mass,Mike Flanagan,"Kate Siegel, Zach Gilford, Hamish Linklater, H...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"TV Dramas, TV Horror, TV Mysteries",The arrival of a charismatic young priest brin...
6,s7,Movie,My Little Pony: A New Generation,"Robert Cullen, José Luis Ucha","Vanessa Hudgens, Kimiko Glenn, James Marsden, ...",NaN,"September 24, 2021",2021,PG,91 min,Children & Family Movies,Equestria's divided. But a bright-eyed hero be...
7,s8,Movie,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","United States, Ghana, Burkina Faso, United Kin...","September 24, 2021",1993,TV-MA,125 min,"Dramas, Independent Movies, International Movies","On a photo shoot in Ghana, an American model s..."
8,s9,TV Show,The Great British Baking Show,Andy Devonshire,"Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...",United Kingdom,"September 24, 2021",2021,TV-14,9 Seasons,"British TV Shows, Reality TV",A talented batch of amateur bakers face off in...
9,s10,Movie,The Starling,Theodore Melfi,"Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...",United States,"September 24, 2021",2021,PG-13,104 min,"Comedies, Dramas",A woman adjusting to life after a loss contend...

In [4]:
#missing values
netflix.isnull().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

In [5]:
netflix.shape

(8807, 12)

In [6]:
netflix.dropna(inplace=True)

In [7]:
netflix.isnull().sum()

show_id         0
type            0
title           0
director        0
cast            0
country         0
date_added      0
release_year    0
rating          0
duration        0
listed_in       0
description     0
dtype: int64

In [8]:
netflix.shape

(5332, 12)

In [9]:
netflix.duplicated().sum()

0

In [10]:
#drop unnessary feature
netflix = netflix.drop(['release_year','rating','duration','country','date_added','type'], axis=1)

In [11]:
netflix.head()

,show_id,title,director,cast,listed_in,description
7,s8,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","Dramas, Independent Movies, International Movies","On a photo shoot in Ghana, an American model s..."
8,s9,The Great British Baking Show,Andy Devonshire,"Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...","British TV Shows, Reality TV",A talented batch of amateur bakers face off in...
9,s10,The Starling,Theodore Melfi,"Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...","Comedies, Dramas",A woman adjusting to life after a loss contend...
12,s13,Je Suis Karl,Christian Schwochow,"Luna Wedler, Jannis Niewöhner, Milan Peschel, ...","Dramas, International Movies",After most of her family is murdered in a terr...
24,s25,Jeans,S. Shankar,"Prashanth, Aishwarya Rai Bachchan, Sri Lakshmi...","Comedies, International Movies, Romantic Movies",When the father of the man she loves insists t...

In [12]:
netflix = netflix.reset_index(drop=True)

In [13]:
def extract_first_three_casts(cast_column):
    # Split the cast column into a list of names
    cast_list = cast_column.split(', ')
    
    # Take the first three names (if available)
    first_three_casts = cast_list[:3]
    
    return first_three_casts

In [14]:
netflix['cast']=netflix['cast'].apply(extract_first_three_casts)

In [15]:
netflix.head()

,show_id,title,director,cast,listed_in,description
0,s8,Sankofa,Haile Gerima,"[Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra ...","Dramas, Independent Movies, International Movies","On a photo shoot in Ghana, an American model s..."
1,s9,The Great British Baking Show,Andy Devonshire,"[Mel Giedroyc, Sue Perkins, Mary Berry]","British TV Shows, Reality TV",A talented batch of amateur bakers face off in...
2,s10,The Starling,Theodore Melfi,"[Melissa McCarthy, Chris O'Dowd, Kevin Kline]","Comedies, Dramas",A woman adjusting to life after a loss contend...
3,s13,Je Suis Karl,Christian Schwochow,"[Luna Wedler, Jannis Niewöhner, Milan Peschel]","Dramas, International Movies",After most of her family is murdered in a terr...
4,s25,Jeans,S. Shankar,"[Prashanth, Aishwarya Rai Bachchan, Sri Lakshmi]","Comedies, International Movies, Romantic Movies",When the father of the man she loves insists t...

In [16]:
netflix['listed_in'][8]

'Action & Adventure, Dramas'

In [17]:
def convert_to_list(listed_in_column):
    # Split the listed_in column into a list of categories
    categories_list = listed_in_column.split(', ')
    
    return categories_list

In [18]:
netflix['listed_in']=netflix['listed_in'].apply(convert_to_list)

In [19]:
netflix['director']=netflix['director'].apply(convert_to_list)

In [20]:
netflix['description']=netflix['description'].apply(lambda x:x.split())

In [21]:
netflix.head()

,show_id,title,director,cast,listed_in,description
0,s8,Sankofa,[Haile Gerima],"[Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra ...","[Dramas, Independent Movies, International Mov...","[On, a, photo, shoot, in, Ghana,, an, American..."
1,s9,The Great British Baking Show,[Andy Devonshire],"[Mel Giedroyc, Sue Perkins, Mary Berry]","[British TV Shows, Reality TV]","[A, talented, batch, of, amateur, bakers, face..."
2,s10,The Starling,[Theodore Melfi],"[Melissa McCarthy, Chris O'Dowd, Kevin Kline]","[Comedies, Dramas]","[A, woman, adjusting, to, life, after, a, loss..."
3,s13,Je Suis Karl,[Christian Schwochow],"[Luna Wedler, Jannis Niewöhner, Milan Peschel]","[Dramas, International Movies]","[After, most, of, her, family, is, murdered, i..."
4,s25,Jeans,[S. Shankar],"[Prashanth, Aishwarya Rai Bachchan, Sri Lakshmi]","[Comedies, International Movies, Romantic Movies]","[When, the, father, of, the, man, she, loves, ..."

In [22]:
netflix['director']=netflix['director'].apply(lambda x:[i.replace(" ","") for i in x])
netflix['cast']=netflix['cast'].apply(lambda x:[i.replace(" ","") for i in x])
netflix['listed_in']=netflix['listed_in'].apply(lambda x:[i.replace(" ","") for i in x])

In [23]:
netflix.head()

,show_id,title,director,cast,listed_in,description
0,s8,Sankofa,[HaileGerima],"[KofiGhanaba, OyafunmikeOgunlano, AlexandraDuah]","[Dramas, IndependentMovies, InternationalMovies]","[On, a, photo, shoot, in, Ghana,, an, American..."
1,s9,The Great British Baking Show,[AndyDevonshire],"[MelGiedroyc, SuePerkins, MaryBerry]","[BritishTVShows, RealityTV]","[A, talented, batch, of, amateur, bakers, face..."
2,s10,The Starling,[TheodoreMelfi],"[MelissaMcCarthy, ChrisO'Dowd, KevinKline]","[Comedies, Dramas]","[A, woman, adjusting, to, life, after, a, loss..."
3,s13,Je Suis Karl,[ChristianSchwochow],"[LunaWedler, JannisNiewöhner, MilanPeschel]","[Dramas, InternationalMovies]","[After, most, of, her, family, is, murdered, i..."
4,s25,Jeans,[S.Shankar],"[Prashanth, AishwaryaRaiBachchan, SriLakshmi]","[Comedies, InternationalMovies, RomanticMovies]","[When, the, father, of, the, man, she, loves, ..."

In [24]:
netflix['tags']=netflix['description']+netflix['director']+netflix['cast']+netflix['listed_in']

In [25]:
ntfx=netflix[['show_id','title','tags']]

In [26]:
ntfx.head()

,show_id,title,tags
0,s8,Sankofa,"[On, a, photo, shoot, in, Ghana,, an, American..."
1,s9,The Great British Baking Show,"[A, talented, batch, of, amateur, bakers, face..."
2,s10,The Starling,"[A, woman, adjusting, to, life, after, a, loss..."
3,s13,Je Suis Karl,"[After, most, of, her, family, is, murdered, i..."
4,s25,Jeans,"[When, the, father, of, the, man, she, loves, ..."

In [27]:
ntfx['tags']=ntfx['tags'].apply(lambda x:" ".join(x))

C:\Users\Lucky\AppData\Local\Temp\ipykernel_9040\1741842344.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ntfx['tags']=ntfx['tags'].apply(lambda x:" ".join(x))

In [28]:
ntfx['tags'][7]

"Blackmailed by his company's CEO, a low-level employee finds himself forced to spy on the boss's rival and former mentor. RobertLuketic LiamHemsworth GaryOldman AmberHeard Thrillers"

In [29]:
ntfx['tags']=ntfx['tags'].apply(lambda x:x.lower())

C:\Users\Lucky\AppData\Local\Temp\ipykernel_9040\1149329043.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ntfx['tags']=ntfx['tags'].apply(lambda x:x.lower())

In [30]:
ntfx.head()

,show_id,title,tags
0,s8,Sankofa,"on a photo shoot in ghana, an american model s..."
1,s9,The Great British Baking Show,a talented batch of amateur bakers face off in...
2,s10,The Starling,a woman adjusting to life after a loss contend...
3,s13,Je Suis Karl,after most of her family is murdered in a terr...
4,s25,Jeans,when the father of the man she loves insists t...

In [31]:
ntflx=ntfx.copy()

In [32]:
ntflx.head()

,show_id,title,tags
0,s8,Sankofa,"on a photo shoot in ghana, an american model s..."
1,s9,The Great British Baking Show,a talented batch of amateur bakers face off in...
2,s10,The Starling,a woman adjusting to life after a loss contend...
3,s13,Je Suis Karl,after most of her family is murdered in a terr...
4,s25,Jeans,when the father of the man she loves insists t...

In [33]:
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import PorterStemmer
import string

# Loop through each row and apply data preprocessing
for index, row in ntflx.iterrows():
    # Tokenization and Lowercasing
    tokens = word_tokenize(row['tags'].lower())

    # Remove Punctuation and Special Characters
    tokens = [word.translate(str.maketrans('', '', string.punctuation)) for word in tokens]

    # Remove Stopwords
    stop_words = set(stopwords.words('english'))
    tokens = [word for word in tokens if word not in stop_words]

    # Stemming
    stemmer = PorterStemmer()
    tokens = [stemmer.stem(word) for word in tokens]

    # Join the tokens back into a string and update the 'tags' column
    ntflx.at[index, 'tags'] = ' '.join(tokens)

In [34]:
ntflx.head()

,show_id,title,tags
0,s8,Sankofa,photo shoot ghana american model slip back ti...
1,s9,The Great British Baking Show,talent batch amateur baker face 10week competi...
2,s10,The Starling,woman adjust life loss contend feisti bird tak...
3,s13,Je Suis Karl,famili murder terrorist bomb young woman unkn...
4,s25,Jeans,father man love insist twin son marri twin sis...

In [35]:
from sklearn.feature_extraction.text import CountVectorizer

In [36]:
cv=CountVectorizer(max_features=5000)

In [37]:
vectors=cv.fit_transform(ntflx['tags']).toarray()

In [38]:
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [39]:
from sklearn.metrics.pairwise import cosine_similarity

In [40]:
similarity=cosine_similarity(vectors)

In [51]:
similarity[10]

array([0.05423261, 0.        , 0.05423261, ..., 0.0559017 , 0.05129892,
       0.04564355])

In [42]:
def recommend(movie):
    movie_index=ntflx[ntflx['title']==movie].index[0]
    distances=similarity[movie_index]
    movie_list=sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:6]
    for i in movie_list:
        print(ntflx.iloc[i[0]].title)

In [52]:
recommend('Jaws')

Jaws: The Revenge
Jaws 2
Jaws 3
Deep Blue Sea
Saladin

In [44]:
ntflx.head(10)

,show_id,title,tags
0,s8,Sankofa,photo shoot ghana american model slip back ti...
1,s9,The Great British Baking Show,talent batch amateur baker face 10week competi...
2,s10,The Starling,woman adjust life loss contend feisti bird tak...
3,s13,Je Suis Karl,famili murder terrorist bomb young woman unkn...
4,s25,Jeans,father man love insist twin son marri twin sis...
5,s28,Grown Ups,mourn loss belov junior high basketbal coach ...
6,s29,Dark Skies,famili ’ idyl suburban life shatter alien forc...
7,s30,Paranoia,blackmail compani ceo lowlevel employe find f...
8,s39,Birth of the Dragon,young bruce lee anger kung fu traditionalist t...
9,s42,Jaws,insati great white shark terror amiti island ...

In [46]:
import pickle

In [47]:
pickle.dump(ntflx,open('netflix.pkl','wb'))

In [48]:
ntflx['title'].values

array(['Sankofa', 'The Great British Baking Show', 'The Starling', ...,
       'Zombieland', 'Zoom', 'Zubaan'], dtype=object)

In [50]:
pickle.dump(similarity,open('similarity.pkl','wb'))